<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Linkedln</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
  <link rel="stylesheet" href="../css/main.css">
  <!--  <script type="text/javascript" src="//platform.linkedin.com/in.js">
    api_key: 78u22wwib87ksj
    authorize: true
    /* onLoad: onLinkedInLoad */
   
  </script> -->
</head>

<body>
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-xs12 col-md-9 col-lg-3 offset-lg-4  ">
          <!-- Muestra información del profile -->
          <div id="profileData">
            <p>
              <a href="#">Logout</a>
            </p>
            <div id="picture"></div>
            <div class="info">
              <p id="name"></p>
              <p id="intro"></p>
              <p id="email"></p>
              <p id="location"></p>
              <p id="link"></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script type="text/javascript" src="../js/app.js"></script>
  <script type="text/javascript" src="../js/profile.js"></script>
</body>

</html>